*,
*::before,
*::after {
	padding: 0em;
	margin: 0em;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	max-width: 974px;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: 'PT Serif', serif;
	font-size: 2.2rem;
	font-weight: bold;
}

ul {
	list-style: none;
}

/* img {
	width: 200px;
	height: 200px;
	object-fit: cover;
} */

header {
	padding: 3em 0em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2em;
}	

header > * {
	flex: 1 1 50%;
}	

ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 2em;
}


@media screen and (min-width: 364px) {
	ul {
		gap: 1em;
	}

	li:nth-child(2n) {
		margin-top: 3em;
	}
}

@media screen and (min-width: 512px) {
	ul {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 3em;
	}

}

@media screen and (min-width: 728px) {

	
	li:nth-child(2n) {
		border: none;
		margin-top: 0em;
	}
	
	li:nth-child(2), li:nth-child(5) {
		
		margin-top: 3em;
	}
}

@media screen and (min-width: 768px) {
	header {
		flex-direction: row;
	}
	
}



.small-container {
	
	display: flex;
}

.container-aspect-ratio {
	flex: 1;
	position: relative;
	height: 0;
	
	padding-bottom: 133%;
}

.container-aspect-ratio img {
	position: absolute;
	top: 0em;
	right: 0em;
	bottom: 0em;
	left: 0em;

	width: 100%;
	height: 100%;
	object-fit: cover;
}


.intro {
	position: relative;
	min-width: 2em;
}

.intro p {
	transform-origin: 1em 1em;
 	transform: rotate(90deg);
	position: absolute;
	top: 0em;
	left: 0em;
	width: max-content;
}

