*,
*::before,
*::after {
	padding: 0em;
	margin: 0em;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	max-width: 1020px;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: 'PT Serif', serif;
	font-size: 2.2rem;
	font-weight: bold;
}

ul {
	list-style: none;
}

img {
	width: 200px;
	height: 200px;
	object-fit: cover;
}

header {
	padding: 3em 0em;
	display: flex;
	justify-content: space-between;
}	

header > * {
	flex: 1 1 50%;
}	

.small-container {
	border: 2px solid orange;
	display: flex;
}

.small-container > * {
	flex: 1;
}

.small-container img {
	border: 2px solid red;
}


.intro {
	border: 2px solid blue;
	position: relative;
}

.intro p {
	transform-origin: 1em 1em;
 	transform: rotate(90deg);
	position: absolute;
	top: 0em;
	left: 0em;
}

